# Video: Python as A Calculator

This video shows you how to use Python as a calculator to get comfortable with simple Python expressions.

Script:
* Hello.
* I'm going to show you how to use Python like a calculator, to show you how to work with numbers in Python.
* I'm going to demonstrate with a Python notebook, but you can type the same commands into the Python interpreter if you have it installed on your computer.
* The same commands will work when you write a standalone Python program.
* A copy of this notebook will be linked below the video in Blackboard.
* Let's start with a simple number - 12345.

In [ ]:
12345

12345

Script:
* See, Python understood that.
* If we want to make it easier to read at a glance, we can type it like this -

In [ ]:
12_345

12345

Script:
* Python recognizes that as the same number.
* Why not use commas?
* Python uses those to separate lists of values.
* We'll get to those next week.
* If we want to add numbers, we just type in the math formula.

In [ ]:
12+345

357

Script:
* Extra spaces are ok here.

In [ ]:
12 + 345

357

Script:
* I prefer them for legibility when I'm writing code that I will keep or share, but I often skip them while poking around like this.
* Subtraction works the same way.

In [ ]:
999 - 123

876

Script:
* Multiplication uses an asterisk.
* That's the character over the number 8 on most keyboards.

In [ ]:
8 * 5

40

Script:
* If you want exponentiation, that is, repeated multiplication, you use two asterisks.

In [ ]:
10 ** 5

100000

Script:
* Division uses a forward slash.
* That's usually under the question mark towards the bottom right of your keyboard.

In [ ]:
8 / 6

1.3333333333333333

Script:
* That looks different - that's the first number today that was not an integer.
* Python can handle real numbers of course, and in this case, Python automatically switched from integers to reals for that division.
* Previous versions of Python did not automatically switch, so you would get eight divided by six equals one.
* The assumption then was that you wanted an integer back when calculating with integers.
* If you want that behavior now, you can divide using two slashes like this and it will round down the answer.

In [ ]:
8 // 6

1

Script:
* Here's a negative one so you can see it rounding down.

In [ ]:
-8 // 6

-2

Script:
* And it doesn't matter whether the numerator or denominator is negative.

In [ ]:
8 // -6

-2

Script:
* So, I just mentioned that Python handled integers differently from real numbers.
* Let's look at that.
* First, let's look at the types of the numbers we are typing in.

In [ ]:
type(3)

int

Script:
* We'll go into classes later.
* For now, you just need to know that this “int” class is for integers.

In [ ]:
type(3.0)

float

In [ ]:
type(3.1)

float

Script:
* And this “float” class is for real numbers.
* We will talk about what “float” means shortly.
* We can change the type of a number in python using the class name.

In [ ]:
float(3)

3.0

Script:
* Note that now there is a ".0" when the value was printed.

In [ ]:
int(3.0)

3

Script:
* Note that the ".0" was dropped this time.
* You can confirm with the type function that the types changed.

In [ ]:
3

3

In [ ]:
type(float(3))

float

In [ ]:
type(int(3.0))

int

In [ ]:
3.0

3.0

Script:
* Technically, this creates a new object of the class from the previous number.
* Wrapping up, we will cover variables and functions very briefly.
* Just enough to save a formula as a function.
* First, you can save a value in a variable by typing the variable name, the equals sign, then the value that you want to save.

In [ ]:
x = 3

Script:
* This saves 3 into a variable called x.
* In these notebooks, these variable assignments do not print out anything.
* But you can just type in the variable name in a new cell, or the end of one, to print out its value.

In [ ]:
x

3

Script:
* Or doing them together,

In [ ]:
y = 4
y

4

Script:
* And now that you have those values saved in variables, you can get them back by using the variable names, and make new expressions from them.

In [ ]:
x + y

7

Script:
* Now that we have variables, we can start defining meaningful functions.
* For now, we will just cover very simple functions that take in a value and return back a new one.

In [ ]:
def plus_two(x):
    return x + 2

Script:
* That defines a function called plus_two that takes in a value, that it internally calls x, and returns that value plus two.

In [ ]:
plus_two(5)

7

Script:
* Note that the x inside plus_two is different from the x variable that we previously defined.

In [ ]:
x

3

Script:
* So we just called plus_two with the value five for its inside x, and it returned seven.
* But then we printed our outside x and it was still three from before.
* We will cover much more complicated functions later, but that is it for this lesson.