# Video: Python Sets

This video describes Python's native set data structure.

Script:
* BEGIN VIDEO?
* In mathematics, sets are a mathematical object that can contain other objects.
* For any possible object, either the object is in the set, or it is not in the set.
* There are no counts or attached values, just set membership.
* In or out of the set.
* In Python, sets are similar to the mathematical objects.
* Python sets are between lists and dictionaries in their behavior.
* On one hand, they are like lists and just a list of elements with the additional requirement that there are no duplicates.
* On the other hand, they are like dictionaries where only the keys are used, and the values are ignored.
* Python set elements have the uniqueness of dictionary keys, and fast membership tests like dictionaries.
* But like Python lists, there are no attached values.
* END OF VIDEO
* Python sets may be made from scratch in three different ways.
* First, you can use the set function.

In [ ]:
x = set()

In [ ]:
x

set()

Script:
* With no inputs, the set function returns an empty set.
* The set function optionally takes in a sequence which will used to populate the set.

In [ ]:
x = set(range(6))

In [ ]:
x

{0, 1, 2, 3, 4, 5}

Script:
* Second, you can make a set using the same syntax just used to print the x variable, listing out values separated by commas and enclosed by braces.

In [ ]:
y = {0, 2, 4, 6}

Script:
* Third, you can use a set comprehension.
* The syntax for a set comprehension is a mix between list and dictionary comprehensions.
* Set comprehensions are enclosed by braces like dictionary comprehensions, but they only use one value like list comprehensions.

In [ ]:
z = {i for i in range(20) if i % 3 == 0}

In [ ]:
z

{0, 3, 6, 9, 12, 15, 18}

Script:
* That set z is integers less than 20 which have remainder zero when divided by 3.
* Once you have a set, you can modify the set using the add and remove methods to change the set one element at a time.

In [ ]:
y.add(7)
y

{0, 2, 4, 6, 7}

In [ ]:
y.remove(7)
y

{0, 2, 4, 6}

Script:
* Beware that trying to remove an element that is not in the set will raise an exception.

In [ ]:
y.remove(7)

KeyError: 7

Script:
* You can check if an element is in a set with an in expression.

In [ ]:
4 in y

True

In [ ]:
3 in y

False

Script:
* And you can reverse those checks with "not in" expressions.

In [ ]:
4 not in y

False

In [ ]:
3 not in y

True

Script:
* By the way, not in expressions generally work anywhere that an in expression would work.
* And they are more legible than trying to reverse an in expression.

In [ ]:
not 3 in y

True

Script:
* When I see an expression like that, I have to stop and think about whether the not or in has higher precedence.
* The answer is in, so this is the same as using not in, but it is better not to stop to figure that out.
* Moving on, once you have multiple sets, you can combine them in different ways.

In [ ]:
x

{0, 1, 2, 3, 4, 5}

In [ ]:
y

{0, 2, 4, 6}

Script:
* The bitwise-or operator using the pipe character becomes a union operator for sets.

In [ ]:
# bitwise-or operator => union of sets
x | y

{0, 1, 2, 3, 4, 5, 6}

Script:
* The bitwise-and operator using the ampersand character becomes an intersection operator for sets.

In [ ]:
# bitwise-and operator => intersection of sets
x & y

{0, 2, 4}

Script:
* Subtraction becomes set difference.

In [ ]:
# subtraction => set difference
x - y

{1, 3, 5}

Script:
* There are also set methods to do the same operations if you prefer the explicit descriptions over the symbols.

In [ ]:
[m for m in dir(set) if not m.startswith("_")]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

Script:
* The previous examples match the union, intersection, and difference methods respectively.
* For example, here is how to use the difference method.

In [ ]:
x.difference(y)

{1, 3, 5}

Script:
* There is also a read only version of sets called frozen set.
* The frozen set interface is the same as for sets, except for the methods that would change the set.

In [ ]:
frozenset(x)

frozenset({0, 1, 2, 3, 4, 5})

Script:
* In practice, frozenset is not strictly necessary, but you can use it to remind yourself that it should not change, and to block accidental updates.
* That covers the basic functionality of built in sets.
* See the documentation linked in the references for details on the remaining functionality.