# Video: Formatting Data in Strings

This video gives examples of using f-strings and the format function to easily include data in strings.

* One of my favorite additions to Python is f-strings.
* f-strings replaced a lot of clunky string formatting operations.
* Let's look at an example.

In [ ]:
x = 3.14
print(f"hi! X = {x}")

hi! X = 3.14

* If you put an f before the string, Python will look for sections marked with braces, and read the insides for more Python expressions.
* Mostly variables are used, but more complicated expressions can go in there.

In [ ]:
y = 42
print(f"the answer is {y / x}")

the answer is 13.375796178343949

* You can also specify details about how to format those expressions.

In [ ]:
print(f"the answer is {y / x:.2f}")

the answer is 13.38

* The colon marks the beginning of the formatting.
* The f stands for floating point, so a real number.
* And the point two specifies two digits after the decimal point.
* If you want to truncate a float to an integer, use point zero so there are no digits after the decimal point.

In [ ]:
print(f"the answer is {y // x:.0f}")

the answer is 13

* If you have an integer, you can use colon d. Or just skip it.

In [ ]:
print(f"{y:d}")

42

In [ ]:
print(f"{y}")

42

* If you want to format the number with commas, add a comma before the format character.

In [ ]:
z=1234567
print(f"{z:,d}")

1,234,567

* And you can specify more than one expression to insert.

In [ ]:
print(f"The answer to {y} / {x} is {y/x}")

The answer to 42 / 3.14 is 13.375796178343949

* Before f strings, you would use the string format function like this -

In [ ]:
print("the answer to {0} / {1} is {2}".format(y, x, y/x))

the answer to 42 / 3.14 is 13.375796178343949

* or

In [ ]:
print("the answer to {y} / {x} is {y_divided_by_x:.2f}".format(y=y, x=x, y_divided_by_x=y/x))

the answer to 42 / 3.14 is 13.38

* The latter one uses named arguments instead of the exact order passed in, but format only supports variables here, so you need to do the division as a separate argument.
* There are still a few uses of format, but f strings are strongly preferred most of the time.
* Both kinds of formatting have several options to tweak the formatting.
* The d and f options are most commonly used, and there are links after the video for more documentation.