# Video: NumPy as an Array Calculator

This video will show off NumPy arrays to perform bulk calculations quickly, similar to using Python as a calculator in week 1, but with thousands or millions of numbers at once.
Basic math operations and NumPy's large library of functions will both be highlighted.

Script:
* At the beginning of this module, there was a demonstration using Python as a calculator.
* The point of that demonstration was to get you started with basic calculations, and let you see that you could express a lot in Python without knowing a lot of Python yet,
* We will do a similar demonstration with NumPy now.

In [ ]:
import numpy as np

Script:
* This is our standard NumPy import.
* I don't love the smushed name pattern, but it saves a lot of typing.
* It is the most common usage online by far, and most blogs and even NumPy's own official documentation use it, so we will be using it in this module.
* Let's start making a couple arrays with data to demonstrate.
* These will be small so they don't take much space on screen, but you will be able to run the same operations and functions on much larger arrays with thousands and millions of numbers.

In [ ]:
x = np.array([[1, 2, 3], [4, 5, 6]])
x

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
y = np.array([[7, 8, 9], [10, 11, 12]])
y

array([[ 7,  8,  9],
       [10, 11, 12]])

Script:
* Let's try so basic arithmetic first.

In [ ]:
x + y

array([[ 8, 10, 12],
       [14, 16, 18]])

Script:
* When we added the arrays together, the addition was on an element-wise basis.
* That means that the first element of x was added to the first element of y.
* Or more generally, a number from x is added to the number with the same index in y to set the number with the same index in z.
* The same pattern happens with other arithmetic operators of combining values with the same index.

In [ ]:
x - y

array([[-6, -6, -6],
       [-6, -6, -6]])

In [ ]:
x * y

array([[ 7, 16, 27],
       [40, 55, 72]])

In [ ]:
x / y

array([[0.14285714, 0.25      , 0.33333333],
       [0.4       , 0.45454545, 0.5       ]])

Script:
* Note that the types switched to floating point for division, just like normal Python integers.
* If you want to stick to integer values, you can still do the division with double slash.

In [ ]:
x // y

array([[0, 0, 0],
       [0, 0, 0]])

Script:
* Again, that is just like normal Python integer handling.
* After the initial calculator usage, we used several functions in Python's math library.
* For NumPy arrays, those functions are in the NumPy library.
* Here is one example.

In [ ]:
np.sin(x)

array([[ 0.84147098,  0.90929743,  0.14112001],
       [-0.7568025 , -0.95892427, -0.2794155 ]])

Script:
* I won't bore you trying out every function now.
* Instead, there is a link to the NumPy documentation listing them in the resources list following this video.
* I will give you a quick peak now.
* https://numpy.org/doc/stable/reference/routines.math.html (scroll to the bottom)